<header class="hw-header fixed-top">
  <nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container-fluid">
      <div class="hw-header-logo-container">
        <a class="navbar-brand hw-header-logo primary" href="/">
          <img src="./assets/images/healthworks_ai-logo.png" alt="healthworks logo">
        </a>
        <a class="navbar-brand hw-header-logo secondary" href="/" hidden>
          {{clientName}}
        </a>
      </div>
      <div class="ml-auto">
        <a href="#" class="text-body">{{firstName}}</a>
      </div>
    </div>
  </nav>
</header>