.old-car{
    background-color: red !important;
}

.custom-benefit-ddb{
    border-radius: 0 5px 5px 0;
    margin: 0 0 0 -2px;
    z-index: 999;
}

.custom-selectAll
{
    padding: 0.6% 0 0 2.2%;
}

.green{
    background-color:#c6e0b4 !important;
}

.red{
    background-color: #FF7D7D !important;
}

.gray {
    background-color: gray !important;
}

/* START  */
/* app.floating-scroller CSS  */

#floating-scrollbar{border-bottom:2px solid #000!important}.webkit-scrollbar+#floating-scrollbar::-webkit-scrollbar,.webkit-scrollbar::-webkit-scrollbar{height:12px}::-webkit-scrollbar-button:end,::-webkit-scrollbar-button:start{display:none}::-webkit-scrollbar-thumb,::-webkit-scrollbar-track-piece{-webkit-border-radius:8px}::-webkit-scrollbar-track-piece{background-color:#444}::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#777}::-webkit-scrollbar-thumb:hover{background-color:#aaa}
/*.floating-container{overflow-x: scroll;} .floating-container{ overflow: auto;  } */

/* app.floating-scroller CSS  */
/* END  */
/* UI CHANGES */
.new-btn{
    background-color: #9776a2;
    color: #fff;
    border-color: #9776a2;
    
}
.new-btn-click
{
    background-color: #BDA7C4;
    color: #fff;
    border-color: #BDA7C4;

}
.change-in-enrollment{
    background-color: #bda7c4;
}
.slider-color{
    background-color: linear-gradient(to right,#BDA7C4 , #7d538b);
}
:host(::ng-deep .ui-slider .ui-slider-range) {
    background: -webkit-linear-gradient(left, #BDA7C4  0%,#7d538b 50%) !important;          
}
:host(::ng-deep .ui-slider:not(.ui-state-disabled) .ui-slider-handle:hover) {
    border: 2px #976ea5;
    box-shadow: 0 0 0 0.2em #BDA7C4;
}
:host(::ng-deep .ui-slider .ui-slider-handle:focus) {
    border: 2px #7d538b;
    box-shadow: 0 0 0 0.2em #BDA7C4;
}
/* .ui-slider .ui-slider-handle.ui-slider-handle-active
.ui-slider.ui-slider-horizontal .ui-slider-handle */
/* .ui-slider .ui-slider-handle:focus box-shadow: 0 0 0 0.2em #ee98c7;
.ui-slider:not(.ui-state-disabled) .ui-slider-handle:hover  border: 2px solid #d90000; */
  
 :host(::ng-deep .multiselect-dropdown .dropdown-btn .selected-item) 
 {
     /* background-color:  #BDA7C4 !important; */
     background: -webkit-linear-gradient(left, #d7c8dc  0%,#BDA7C4 40%) !important;
     border:  #BDA7C4 !important;
 } 
 .back-to-top-btn
 {
     color: #9776a2;
 }
 
 a:not([href])
 {
     color: #bda7c4 !important;
 }
.star-rating
{
    background-color: #bda7c4 !important;
}
.btn-outline-primary-new
{
    color:#f8c4c1 !important;
    border-color:  #f8c4c1 !important;
}
.btn-outline-primary-new:hover
{
color:#fff !important;
background-color: #d7c8dc !important;
}
.cl:focus
{
    border: 3px #d5c7da;
    box-shadow: 0 0 0 0.2em #e4dde6;
}
/* .select-op
{
background-color: #bda7c4 ;
} */
/* :host(::ng-deep select.decorated option:hover){
    box-shadow: 0 0 10px 100px green inset !important ;
    background-color: greenyellow !important;
    
} */

/* .multiselect-item-checkbox[_ngcontent-maw-c54] input[type=checkbox][_ngcontent-maw-c54]:checked + div[_ngcontent-maw-c54]:before
.multiselect-item-checkbox[_ngcontent-qre-c54] input[type=checkbox][_ngcontent-qre-c54] + div[_ngcontent-qre-c54]:before
.multiselect-item-checkbox[_ngcontent-maw-c54] input[type=checkbox][_ngcontent-maw-c54] + div[_ngcontent-maw-c54]:before border: 2px solid #337ab7 */
:host(::ng-deep .multiselect-item-checkbox input[type=checkbox]:checked + div:before)
{
    background-color: #f4a39d!important;
    background: #f4a39d !important ;
}

:host(::ng-deep .multiselect-item-checkbox input[type=checkbox] + div:before )
{
    border: 2px solid #333333 !important;
    color: #9776a2 !important;
}